.header {
  height: 100px;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
}
.header .div__header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.header .div__header .header__img {
  margin: 10px;
  width: 80px;
  border-radius: 30px;
}
.header .div__header .header__titulo {
  margin: 0px;
  letter-spacing: 1.5px;
}
.header .div__header .header__titulo .titulo__animation {
  transition: all 0.5s;
}
.header .div__header .header__titulo .titulo__animation:hover {
  color: red;
  position: absolute;
  transform: translateX(50px);
}
.header .header__lista {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
}
.header .header__lista .ul__list {
  list-style: none;
  transition: transform 0.5s;
}
.header .header__lista .ul__list a {
  font-size: 16px;
  text-decoration: none;
  transition: color 0.5s;
  color: white;
}
.header .header__lista .ul__list a:hover {
  color: red;
}
.header .header__lista .ul__list:hover {
  transform: scale(1.5);
}

.main {
  width: 100%;
  height: 100%;
}
.main .main__section {
  background-image: url("/assents/1105079.jpg");
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;
}
.main .main__section .section__parrafo {
  margin-right: 50px;
  font-size: 60px;
  color: white;
}
.main .main__section .section__parrafo .parrafo__estilos {
  color: red;
}
.main .main__section2 .motos {
  margin-left: 4%;
  margin-top: 4%;
  margin-bottom: 4%;
  letter-spacing: 1.5px;
  font-size: 35px;
  color: white;
}
.main .main__section2 .section__article {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
.main .main__section2 .section__article .card {
  width: 300px;
  height: 350px;
  background-color: rgba(204, 204, 204, 0.8);
  border: 1px solid white;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.main .main__section2 .section__article .card .card-img-top {
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 10px;
  width: 200px;
  height: 150px;
}
.main .main__section2 .section__article .card .card-title {
  color: black;
}
.main .main__section2 .section__article .card a {
  background-color: black;
  border: 1px solid black;
  transition: all 0.5s;
}
.main .main__section2 .section__article .card a:hover {
  background-color: red;
  border: 1px solid red;
}

/*Extra small devices*/
@media (min-width: 480px) and (max-width: 708px) {
  .header {
    height: 200px;
    grid-template-columns: 1fr;
  }
  .header .div__header {
    justify-content: center;
  }
  .header .div__header .header__img {
    display: none;
  }
  #section {
    justify-content: center;
  }
  #section #parrafo {
    margin-right: 0px;
    text-align: center;
  }
  #motos {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
  }
  #article-queries {
    grid-template-columns: 1fr;
  }
  #article-queries .card {
    width: 350px;
  }
  #article-queries .card .card-img-top {
    width: 250px;
  }
}
/*Small tablets*/
@media (min-width: 708px) and (max-width: 991px) {
  #section {
    justify-content: center;
  }
  #section #parrafo {
    margin: 0px;
    text-align: center;
  }
  #article-queries {
    grid-template-columns: repeat(2, 1fr);
  }
  #article-queries .card {
    width: 320px;
  }
  #article-queries .card .card-img-top {
    width: 250px;
  }
}
/*Large tablets/Laptops*/
@media (min-width: 992px) and (max-width: 1199px) {
  #article-queries {
    grid-template-columns: repeat(3, 1fr);
  }
  #article-queries .card {
    width: 300px;
  }
  #article-queries .card .card-img-top {
    width: 250px;
  }
}
/*Desktop*/
@media (min-width: 1200px) and (max-width: 1919px) {
  /*No fue necesario efectuar cambios*/
}
.footer {
  height: 100px;
  width: 100%;
  margin-top: 8%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .text {
  color: black;
}

* {
  margin: 0px auto;
  padding: 0px auto;
  font-family: "Anton", sans-serif;
}

body {
  background-color: black;
}

/*# sourceMappingURL=base.css.map */
