//Estilos generales

@import 'header';
@import 'main';
@import 'media-queries';
@import 'footer';


* {
    margin: 0px auto;
    padding: 0px auto;
    font-family: 'Anton', sans-serif;
}

body {
    background-color: black;
}